body {
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
    /* overflow-y: hidden; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.section .hide{
    display: none;
}

/* header */
.header {
    /* background-color: gray; */
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

::before,
::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.container {
    max-width: 1140px;
    /* background-color: red; */
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);

}

.hover-in-shadow::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.hover-in-shadow:hover::after {
    box-shadow: var(--inner-shadow);
}

.header .logo a {
    display: inline-block;
    text-align: center;
    line-height: 36px;
    font-size: 24px;
    color: #fb839e;
    height: 40px;
    width: 40px;
    border: 2px solid #fb839e;
    border-radius: 50%;
    font-weight: 600;

}

.header .hamburger-btn {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.header .hamburger-btn::after {
    border-radius: 50%;
}

.header .hamburger-btn span {
    display: block;
    background-color: var(--bg-black-900);
    height: 2px;
    width: 16px;
    position: relative;
}

.header .hamburger-btn span::before,
.header .hamburger-btn span::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);

}

.header .hamburger-btn span::before {
    top: -6px;
}

.header .hamburger-btn span::after {
    top: 6px;
}

/* nav */
.nav-menu {
    position: fixed;
    background-color: var(--bg-black-50);
    padding: 0 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}

.nav-menu .close-nav-menu {
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: center;
    cursor: pointer;
    color: var(--text-black-600);
}

.nav-menu .close-nav-menu::after {
    border-radius: 50%;
}

.nav-menu-inner {
    /* background-color: blue; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu ul {
    /* background-color: violet; */
    padding: 15px;
}

.nav-menu ul li {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.nav-menu ul li:last-child {
    margin-bottom: 0;
}

.nav-menu ul li a {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-black-700);
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.nav-menu ul li a::after {
    border-radius: 30px;
}

.inner-shadow {
    box-shadow: var(--outer-shadow-0);
}

.nav-menu ul li a.active {
    color: #fb839e;
}

.nav-menu .copyright-text {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 15px;
    color: var(--text-black-600);
    transform: translateY(-50%)rotate(-90deg);
    left: -50px;
}

/* home section */

.home-section .row {
    /* background-color: blue; */
    padding: 50px 0;
    min-height: 100vh;
    align-items: center;
}

.home-section .home-text,
.home-section .home-img {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
}

.home-section .home-text {
    /* background-color: violet; */
}

.home-section .home-text p {
    color: var(--text-black-600);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}

.home-section .home-text h2 {
    font-size: 55px;
    font-weight: 700;
    color: var(--bg-black-900);
    margin: 0;
}

.home-section .home-text h1 {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-black-700);
    margin: 0;
}

.home-section .home-img .img-box {
    /* background-color: red; */
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}

.home-section .home-img .img-box img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}

.btn-1 {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: #fb839e;
    background-color: transparent;
    line-height: 1.5;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 30px;
    border: none;
}

.btn-1::after {
    border-radius: 30px;
}

.home-section {
    position: relative;
}

.effect-wrap .effect {
    position: absolute;
    z-index: -1;

}

.effect-1 {
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}

.effect-2 {
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
    height: 3px;
    width: 3px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}

.effect-3 {
    height: 180px;
    width: 180px;
    border: 25px solid #fb839e;
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
}

.effect-4 {
    border: 20px solid transparent;
    border-left: 20px solid #06d79c;
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;
}

.effect-5 {
    height: 50px;
    width: 50px;
    right: 10%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
}

.effect-5 div {
    width: 1px;
    background-color: #4dd0e1;

}

.effect-4::before {
    content: '';
    border: 20px solid transparent;
    border-left: 20px solid #06d79c;
    position: absolute;
    opacity: 0.5;
    left: -25px;
    top: -26px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes topBounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }
}

@keyframes leftBounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateX(25px);
    }
}

/* about section */

.about-section {
    /* background-color: red; */
    padding: 80px 0 0px;
    min-height: 100vh;
}

.section-title {
    /* background-color: red; */
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    /* background-color: blue; */
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--bg-black-900);
    text-transform: uppercase;
    margin: 0;
}

.section-title h2::before {
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #fb839e;
}

.about-section .about-img {
    /* background-color: blue; */
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}

.about-section .about-img .img-box {
    padding: 15px;
    border-radius: 5px;
}

.about-section .about-img .img-box img {
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
}

.about-section .about-info {
    /* background-color: red; */
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}

.about-info p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    color: var(--text-black-600);
}

.about-info span {
    font-weight: 600;
}

.about-info .btn-1 {
    margin: 30px 20px 0 0;
}

.about-section .about-img .social-links {
    /* background-color: red; */
    margin-top: 20px;
    text-align: center;

}

.about-section .about-img .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: var(--text-black-600);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
    /* position: relative; */
}

.about-section .about-img .social-links a::after {
    /* content: ''; */
    /* position: absolute; */
    border-radius: 50%;
}

.about-section .about-img .social-links a:hover {
    color: #fb839e;
}

.about-section .about-tabs {
    padding: 60px 15px 50px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;

}

.about-section .about-tabs .tab-item {
    margin: 0 5px 10px;
    /* border: 1px solid red; */
    padding: 5px 10px;

    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-black-600);
    text-transform: capitalize;

}

.about-section .about-tabs .tab-item:first-child {
    color: #fb839e;
    box-shadow: 2px 2px 2px;
}

.about-section .about-tabs .tab-item:hover:not(.active) {
    opacity: 0.6;
}

/* skilss */

.about-section .tab-content {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 0 40px;
    /* display: none; */
}

.about-section .tab-content .active {
    display: block;
    /* display: flex; */

}

.about-section .skills .skill-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    margin-bottom: 40px;
}

.about-section .skills .skill-item .progress {
    height: 20px;
    border-radius: 10px;
    background-color: var(--text-black-600);
    position: relative;
}

.about-section .skills .skill-item .progress-bar {
    position: absolute;
    background-color: var(--text-black-700);
    height: 6px;
    left: 7px;
    top: 7px;
    width: 50%;
    border-radius: 10px;
}

.about-section .skills .skill-item .progress-bar span {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    margin: -40px;
}

.about-section .skills .skill-item p {
    font-size: 16px;
    color: var(--text-black-600);
    text-transform: capitalize;
    margin: 0 0 10px;
}

/* experince */

.about-section .experience {
    padding-bottom: 80px;
}

.about-section .education {
    padding-bottom: 80px;
}



.about-section .timeline {
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;

}

.about-section .timeline::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--bg-black-100);
    top: 0;
    left: 50%;
}

.about-section .timeline .timeline-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}



.about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: calc(50% + 50px);
    text-align: right;
}

.about-section .timeline .timeline-item:nth-child(even) {
    padding-left: calc(50% + 50px);
}

.about-section .timeline .timeline-item-inner {
    padding: 30px;
    border-radius: 5px;
    position: relative;
}

.about-section .timeline .timeline-item-inner::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: var(--bg-black-100);
    top: 37px;
    z-index: -1;
}

.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
    right: -30px;
}

.about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner::before {
    left: -30px;
}

.about-section .timeline .timeline-item-inner .icon {
    height: 40px;
    width: 40px;
    background-color: var(--bg-black-50);
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 18px;
    border: 1px solid var(--bg-black-100);
    border-radius: 50%;
    font-size: 16px;
    color: #fb839e;
}

.about-section .timeline .timeline-item:nth-child(odd) .icon {
    right: -70px;
}

.about-section .timeline .timeline-item:nth-child(even) .icon {
    left: -70px;
}

.about-section .timeline .timeline-item-inner span {
    font-weight: 500;
    color: #fb839e;
    display: block;
    margin: 0 0 10px;
    text-transform: capitalize;
}

.about-section .timeline .timeline-item-inner h3 {
    font-size: 20px;
    color: var(--text-black-700);
    font-weight: 600;
    margin: 0 0 5px;
    text-transform: capitalize;
}

.about-section .timeline .timeline-item-inner h4 {
    font-size: 16px;
    font-style: italic;
    color: var(--text-black-600);
    margin: 0;
}

.about-section .timeline .timeline-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 26px;
    margin-top: 15px;
}

/* service section start */

.service-section {
    /* background-color: red; */
    padding: 80px 0 80px;
    min-height: 100vh;
}

.service-section .service-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}

.service-section .service-item-inner {
    padding: 50px 15px;
    border-radius: 5px;
    text-align: center;
}

.service-section .service-item-inner .icon {
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 0 auto 30px;
    margin: 0 auto 30px;
    position: relative;
}

.service-section .service-item-inner .icon::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.service-section .service-item-inner:hover .icon {
    box-shadow: var(--inner-shadow-0);
}

.service-section .service-item-inner:hover .icon::after {
    box-shadow: var(--outer-shadow);
}

.service-section .service-item-inner .icon:hover {
    color: #fb839e;
}

.service-section .service-item-inner .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease;

}

.service-section .service-item-inner h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 10px;
    text-transform: capitalize;
}

.service-section .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-600);
    margin: 0;
    line-height: 26px;
}

/* portfolio section */

.portfolio-section {
    /* background-color: red; */
    padding: 80px 0 80px;
    min-height: 100vh;

}

.portfolio-section .section-title {
    margin-bottom: 40px;
}

.portfolio-section .portfolio-filter {
    /* background-color: yellow; */
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-section .filter-item {
    display: inline-block;
    margin: 0 5px 10px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    color: var(--text-black-600);
    text-transform: capitalize;
    font-size: 16px;
    transition: all 0.3s ease;
}

.portfolio-section .filter-item.active {
    color: #fb839e;

}

.portfolio-section .filter-item:hover:not(.active) {
    opacity: 0.6;
}

.portfolio-section .portfolio-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-section .portfolio-item.hide {
    display: none;
}

.portfolio-section .portfolio-item.show {
    display: block;
    animation: fadeInTop 0.5 ease;
}

.portfolio-section .portfolio-item-inner {
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.portfolio-section .portfolio-item-inner:hover span {
    transform: translateY(0px);
}

.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img {
    transform: translateY(-25px);
}

.portfolio-section .portfolio-item-img img {
    border-radius: 5px;
    width: 100%;
    transition: all.3s ease;
}

.portfolio-section .portfolio-item-img {
    position: relative;
}

.portfolio-section .portfolio-item-img span {
    /* display: none; */
    text-transform: capitalize;
    color: #fb839e;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: translateY(-5px);
    z-index: -1;
    opacity: 1;
}

.portfolio-section .portfolio-item-inner p {
    font-size: 16px;
    margin: 10px 0 0;
    color: var(--text-black-600);
    text-transform: capitalize;
}

.portfolio-section .portfolio-item-details {
    display: none;
}
 
/* contact section */

.contact-section {
    /* background-color: red; */
    padding: 80px 0 80px;
    min-height: 100vh;
}

.contact-section .row {
    width: 100%;
}

.contact-section .contact-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
}

.contact-section .contact-item-inner {
    padding: 30px 15px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}

.contact-section .contact-item-inner i {
    font-size: 25px;
    color: #fb839e;
}

.contact-section .contact-item-inner span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 15px 0 10px;
    text-transform: capitalize;
}

.contact-section .contact-item-inner p {
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
}

.contact-section .contact-form {
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
}

.contact-section .w-50 {
    flex: 0 0 50%;
    padding: 0 15px;
    max-width: 50%;
}

.contact-section .input-group {
    margin: 0 0 25px;
    transition: all 0.3s ease;
    border-radius: 30px;
}

.contact-section .input-group::after {
    border-radius: 30px;
}

.contact-section .input-group .input-control {
    height: 45px;
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    padding: 0 15px;
    font-size: 16px;
    color: var(--text-black-700);
}

.contact-section .input-group textarea.input-control {
    height: 184px;
    padding-top: 15px;
    resize: none;
}

.contact-section .submit-btn {
    text-align: right;
    flex: 100%;
    padding: 0 15px;
    margin-top: 0;
}